#__next {
  height: 100%;
}

h1 ,h2, h3 , h4 ,h5 ,h6 {
  font-family: var(--slk-font-family--heading);
}

body {
  font-family: var(--slk-font-family--content);
}

code {
  font-family: var(--slk-font-family--code);
}

code {
  display: block;
}

p a { text-decoration: underline;}